#root {
  width: 100vw;
  background-color: #003049;
  color: whitesmoke;
  font-family: GoodBoy
}

@font-face {
  font-family: "GoodBoy";   /*Can be any text*/
  src: local("GoodBoy-ZVJrl"),
    url("./components/GoodBoy-ZVJrl.ttf") format("truetype");
}

/* Define the slide-in animation */
.slide-in {
  transition: transform 0.5s ease;
  transform: translateY(-100%);
  /* Initial position: off-screen */
}

.slide-in.active {
  transform: translateY(0);
  /* Final position: on-screen */
}


.title {
  margin: 0 auto;
  text-align: center;
  padding: 20px
}

/* .inputField {
  background-color: aliceblue;
} */


