#root {
  width: 100vw;
  background-color: #003049;
  color: whitesmoke;
  font-family: GoodBoy
}

@font-face {
  font-family: "GoodBoy";   /*Can be any text*/
  src: local("GoodBoy-ZVJrl"),
    url("./components/GoodBoy-ZVJrl.ttf") format("truetype");
}


.title {
  margin: 0 auto;
  text-align: center;
  padding: 20px
}

/* .inputField {
  background-color: aliceblue;
} */


